<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">

    <!-- console appender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %m%n" />
        </layout>
    </appender>

    <!-- rolling file appender -->
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="test-output/logs/main.log" />
        <param name="Append" value="true" />
        <param name="ImmediateFlush" value="true" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="5" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %d{Z} [%t] %-5p (%F:%L) - %m%n" />
        </layout>
    </appender>

      <logger name="io.github.bonigarcia.wdm.BrowserManager" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="console" />
    </logger>

    <logger name="org.openqa.selenium.remote.ProtocolHandshake" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="console" />
    </logger>

    <logger name="com.journaldev.log4j" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="com.journaldev.log4j.logic" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="file" />
    </logger>
    
   <logger name="org.apache.kafka" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="file" />
    </logger>  

    <logger name="com.microsoft.azure">
      <level value="off"/>
    </logger>

    <logger name="marytts">
      <level value="off"/>
    </logger>
    
    <logger name="javax.xml.parsers">
      <level value="off"/>
    </logger>

   

    <root>
        <priority value="INFO" />
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
