!automation/**
automation/target/
automation/extentReport/
automation/logs/
automation/mvn-target/
automation/target/
automation/test-output/
automation/target
automation/.apt-generated
automation/test-output
automation/.ide/workspace.xml
automation/bin/
automation/.annotations/
automation/.apt_generated_tests/
automation/.settings/
automation/.idea/
runner/utils/maven/
runner/utils/script-server/
*.DS_Store
*.war
*.log
*.iml